vioc.c filter=lfs diff=lfs merge=lfs -text
AUTHORS filter=lfs diff=lfs merge=lfs -text
ChangeLog filter=lfs diff=lfs merge=lfs -text
ixgbe.c filter=lfs diff=lfs merge=lfs -text
Makefile.am filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
realtek.c filter=lfs diff=lfs merge=lfs -text
sfc.c filter=lfs diff=lfs merge=lfs -text
e1000.c filter=lfs diff=lfs merge=lfs -text
ethtool-copy.h filter=lfs diff=lfs merge=lfs -text
fec_8xx.c filter=lfs diff=lfs merge=lfs -text
ibm_emac.c filter=lfs diff=lfs merge=lfs -text
igb.c filter=lfs diff=lfs merge=lfs -text
natsemi.c filter=lfs diff=lfs merge=lfs -text
configure.ac filter=lfs diff=lfs merge=lfs -text
e100.c filter=lfs diff=lfs merge=lfs -text
pcnet32.c filter=lfs diff=lfs merge=lfs -text
internal.h filter=lfs diff=lfs merge=lfs -text
ixgb.c filter=lfs diff=lfs merge=lfs -text
lan78xx.c filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
fjes.c filter=lfs diff=lfs merge=lfs -text
rxclass.c filter=lfs diff=lfs merge=lfs -text
test-features.c filter=lfs diff=lfs merge=lfs -text
sfpdiag.c filter=lfs diff=lfs merge=lfs -text
sfpid.c filter=lfs diff=lfs merge=lfs -text
stmmac.c filter=lfs diff=lfs merge=lfs -text
qsfp.h filter=lfs diff=lfs merge=lfs -text
de2104x.c filter=lfs diff=lfs merge=lfs -text
ethtool.spec.in filter=lfs diff=lfs merge=lfs -text
marvell.c filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
qsfp.c filter=lfs diff=lfs merge=lfs -text
test-common.c filter=lfs diff=lfs merge=lfs -text
tse.c filter=lfs diff=lfs merge=lfs -text
et131x.c filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
net_tstamp-copy.h filter=lfs diff=lfs merge=lfs -text
dsa.c filter=lfs diff=lfs merge=lfs -text
README filter=lfs diff=lfs merge=lfs -text
smsc911x.c filter=lfs diff=lfs merge=lfs -text
amd8111e.c filter=lfs diff=lfs merge=lfs -text
autogen.sh filter=lfs diff=lfs merge=lfs -text
ixgbevf.c filter=lfs diff=lfs merge=lfs -text
NEWS filter=lfs diff=lfs merge=lfs -text
sff-common.c filter=lfs diff=lfs merge=lfs -text
test-cmdline.c filter=lfs diff=lfs merge=lfs -text
tg3.c filter=lfs diff=lfs merge=lfs -text
at76c50x-usb.c filter=lfs diff=lfs merge=lfs -text
COPYING filter=lfs diff=lfs merge=lfs -text
ethtool.c filter=lfs diff=lfs merge=lfs -text
ethtool.8.in filter=lfs diff=lfs merge=lfs -text
shell-completion filter=lfs diff=lfs merge=lfs -text
fec.c filter=lfs diff=lfs merge=lfs -text
sff-common.h filter=lfs diff=lfs merge=lfs -text
vmxnet3.c filter=lfs diff=lfs merge=lfs -text
